<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>klon instagrama</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add">Dodaj posta <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" value="#" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <h1 style="margin-bottom: 50px;" class="text-center">Witaj na naszej stronie</h1>


    <form th:method="post" th:action="@{/add}"
          th:object="${post}">
        <div class="text-center form-group col-sm-12 col-md-6 offset-md-3 ">
            <label for="postName">Podaj nazwe posta</label>
            <input style="margin-bottom: 20px" type="text" name="name"
                   class="form-control" id="postName"
                   placeholder="Nazwa posta" required>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="validation-message"></label>





            <label for="postUrl">Podaj link url do zdjęcia</label>

            <input type="text" name="url"
                   class="form-control" id="postUrl" aria-describedby="postUrlhelp"
                   placeholder="Link do zdjęcia" required>

            <small style="margin-bottom: 20px" id="postUrlHelp" class="form-text text-muted">
                Pełny link do zdjęcia https://www.w3schools.com/w3css/img_lights.jpg</small>


            <label for="postDescription">Opis posta</label>
            <textarea name="description" class="form-control" id="postDescription" rows="3" required></textarea>



            <label for="postHash">#Hashtagi#</label>
            <input type="text" name="hash"
                   class="form-control" id="postHash" aria-describedby="postHashhelp"
                   placeholder="#someTag #otherTag #oneMoreTag" required>
            <small style="margin-bottom: 20px" id="postHashHelp" class="form-text text-muted">
                Wpisz hashtagi po spacji</small>

            <div><label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                        class="validation-message"></label></div>
            <div><label th:if="${#fields.hasErrors('url')}" th:errors="*{url}"
                        class="validation-message"></label></div>
            <div><label th:utext="${checkHashtag}" class="validation-message"></label></div>

            <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
    </form>


</main><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
